$def with (datetime, logs, total)

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TimeStop Log</title>
    <link rel="stylesheet" type="text/css" href="/static/timestop.css"></style>
</head>
<body>
    <p>LOG</p>
    <p><a href="/">Home</a></p>
    <p>Total time stopped: $total</p>
    <table>
        <thead>
            <tr>
                <th>EVENT</th>
                <th>DATE</th>
            </tr>
        </thead>
        <tbody>
            $for l in logs:
                $if l.type == 'STOP' or l.type == 'RESTART':
                    <tr><td>$l.type</td><td>$datetime.datetime.strftime(l.date, '%Y-%m-%d %H:%M:%S')</td></tr>
                $else:
                    <tr><td class="gray" colspan="2">$l.type</td></tr>
        </tbody>
    </table>
    <p><a href="/">Home</a></p>
</body>
</html>

